//fontsize
$inputSize = 1.2rem
$lnSize = 1.3rem

//color
$homeBg = #111420
$rBtnColor = #0fc065
$green = #00FF7E

// screen size
$SCSuperHuge = 1680px
$SCHuge = 1440px
$SCLarge = 1200px
$SCMedium = 992px
$SCMobile = 767px
$SCMobileNarrow = 419px
