@require './override'
@require './fonts'

body
  font-family Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  font-size 16px
  color $textColor

.home a
  font-size 1.125rem
  font-weight 600

a
  line-height 1.69
  font-weight 500
  color $primaryColor
  text-decoration none

.home p
  letter-spacing .5px
  text-align left

p
  font-size 1rem
  text-align left
  line-height 1.69
  font-weight 400
  &.larger
    font-weight 500
    font-size 1.125rem
    line-height 1.5

p a code
  font-size 1rem
  letter-spacing .5px
  line-height 1.69
  font-weight 400
  color $accentColor

h1, h2, h3, h4, h5, h6
  font-weight 600
  line-height 1.67
  .content:not(.custom) > &
    margin-top (0.5rem - $navbarHeight)
    padding-top ($navbarHeight + 1rem)
    margin-bottom 0
    &:first-child
      margin-top -1.5rem
      margin-bottom 1rem
      + p, + pre, + .custom-block
        margin-top 2rem
  &:hover .header-anchor
    opacity: 1

.home h1
  letter-spacing .375rem
  font-size 1.4rem
  @media (min-width: ($MQMobile + 1px))
    font-size 3.125rem
  font-style normal
  font-stretch normal
  line-height 1.8
  text-transform uppercase

.home h2
  font-size 1.5rem
  @media (min-width: ($MQMobile + 1px))
    font-size 2.375rem
  line-height 1.5
  letter-spacing 5px
  text-transform uppercase

.home h3
  font-size 1.5rem
  line-height 1.33
  letter-spacing 3.2px
  text-transform uppercase

.home h4
  font-size 1.25rem
  line-height 1.2
  letter-spacing 1px
  text-transform uppercase

@media (min-width: ($MQMobile + 1px))
  .theme-container.no-sidebar
    .sidebar
      display none
    .page
      padding-left 0

.buttons
  display flex
  flex-direction column
  @media (max-width: $MQMobile)
    .button + .button
      margin-top 1rem
  @media (min-width: ($MQMobile + 1px))
    flex-direction row
    .button + .button
      margin-left 1rem
  align-items center
  justify-content center
.home .button
  width 13.75rem
  height 3.5rem
  font-size .875rem
  padding 0
  text-transform uppercase
  letter-spacing 1.5px
  font-weight 700
  text-align center
  color #1d2361
  display flex
  align-items center
  justify-content center
  flex-direction row
  border none
  :first-child:not(:last-child)
    margin-right .5rem
  svg
    display block
    vertical-align top
    padding-bottom: .25rem
  &.button-primary
    &, &:active
    background #fff
    &:hover
      background #e7ebf0
    &:focus
      background #c6cdd6
  &.button-secondary
    color #fff
    &, &:active, &:focus
      background rgba(255, 255, 255, .1)
    &:hover
      background rgba(255, 255, 255, .2)
    &:focus
      box-shadow 0 0 0 2px inset #fff
  &.button-full
    width 100%
    height 100%
  &.button-tertiary
    background transparent
    color #fff

.arrow-down
  border-width 0
  border-right-width 1px
  border-bottom-width 1px
  border-style solid
  border-color #fff
  transform rotate(45deg)
  height 16px
  width 16px
  margin 0 auto

.logo
  background-image url(/assets/img/logo.svg)
  background-repeat no-repeat
  background-size contain
  width 2.75rem
  height 2.75rem

@require './home'