@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');

@font-face
  font-family Autoscape
  font-weight normal
  src url(/assets/fonts/AutoScape.otf) format('opentype')

@font-face
  font-family Graphik
  font-weight normal
  src url(/assets/fonts/graphik/Graphik-Regular.woff2) format('woff2')

@font-face
  font-family DM Sans
  font-weight normal
  src url(/assets/fonts/DM_Sans/DMSans-Regular.ttf) format('woff2')
@font-face
  font-family DM Bold Sans
  font-weight bold
  src url(/assets/fonts/DM_Sans/DMSans-Bold.ttf) format('woff2')
