backgroundImage(name, ext, imagePath = '/assets/img/') 
  imageURL = imagePath + '/' + name
  image2x = imageURL + '@2x.' + ext
  image3x = imageURL + '@3x.' + ext
  background-image url(imageURL + '.' + ext)

  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) 
    background-image url(image2x)
  

  @media only screen and (-webkit-min-device-pixel-ratio: 3),
  only screen and (min--moz-device-pixel-ratio: 3),
  only screen and (-o-min-device-pixel-ratio: 3),
  only screen and (min-device-pixel-ratio: 3),
  only screen and (min-resolution: 384dpi),
  only screen and (min-resolution: 3dppx) 
    background-image url(image3x)

.home
  max-width unset
  padding 0
  .container
    max-width 75rem
    padding 0
    margin 0 auto
    @media screen and (max-width: ($MQMobile))
      padding 0 1rem
  .container-narrow
    max-width 50rem
    padding 0
    margin 0 auto
    @media screen and (max-width: ($MQMobile))
      padding 0 1rem
  .hero
    min-height 100vh
    &.head
      position relative
      background-image linear-gradient(312deg, #000b5e, #070b28)
      background-repeat no-repeat
      background-size cover
      &:before
        content: ''
        position absolute
        top 0
        left 0
        right 0
        bottom 50%
        @media (min-width: ($MQMobile + 1px))
          background-image url('/assets/img/OMS@3x.png')
        background-repeat no-repeat
        background-size contain
        background-position center top
    .head-navbar
      position absolute
      z-index 1000
      top 0
      left 0
      right 0
      max-width 75rem
      padding 3rem 2rem
      width auto
      display flex
      flex-direction row
      justify-content space-between
      align-items center
      margin 0 auto
    .head-container
      position relative
      display flex
      flex-direction column
      justify-content space-between
      align-items center
      min-height 100vh
      .head-container-content
        padding-top 47.5vh
      .head-container-footer
        padding-bottom 2rem
        p
          color #fff
          text-transform uppercase
          font-size .75rem
          line-height 2
          letter-spacing 1px
          text-align center
          font-weight 600
          margin 1rem auto
    h1
      color #fff
      span
        @media (min-width: ($MQMobile + 1px))
          position relative
          display inline
          &:before
            content: ''
            z-index 0
            background-repeat no-repeat
            background-size contain
            width 65px
            height 80px
            position absolute
            top -9.5px
          &:first-child, &:last-child
            &:before
              background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MyIgaGVpZ2h0PSI3OCIgdmlld0JveD0iMCAwIDUzIDc4Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9IiM3NkRBQzIiIHN0cm9rZS13aWR0aD0iLjkiPjxyZWN0IHdpZHRoPSI0Mi4yMTkiIGhlaWdodD0iNjMuODE5IiB4PSI0Ljk0MiIgeT0iNy42NDEiIHJ4PSIxNy4xIi8+PHBhdGggc3Ryb2tlLWRhc2hhcnJheT0iMS43OTk5OTk5NTIzMTYyODQsMS43OTk5OTk5NTIzMTYyODQiIGQ9Ik0yNi41LjQ1djc5LjFNNTIuMjUyIDM2Ljk4OEguMjgiLz48L2c+PC9zdmc+')
              left -14px
          &:nth-child(2)
            &:before
              background-image url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NSIgaGVpZ2h0PSI3NCIgdmlld0JveD0iMCAwIDY1IDc0Ij48ZyBmaWxsPSJub25lIiBzdHJva2U9IiM3NkRBQzIiIHN0cm9rZS13aWR0aD0iLjY0OCI+PHBhdGggZD0iTTEwLjMyNCA5LjQwNGg0NS4zNTJ2NjMuOTg4SDEwLjMyNHoiLz48cGF0aCBzdHJva2UtZGFzaGFycmF5PSIxLjk0NCIgZD0iTTU2LjIxNCAwTC0uMTQ0IDU4Ljk4Nk04Ljg1NiAwbDU2LjM1OCA1OC45ODYiLz48L2c+PC9zdmc+')
              left -19px
    h1, .description
      margin 0 auto
    .description
      margin-top .5rem
      margin-bottom 3rem
      max-width 35rem
      font-size 1.125rem
      line-height 1.5
      letter-spacing 1px
      text-align center
      color $lightColor
  .form
    display flex
    flex-direction column
    &.error
      animation shake 0.82s cubic-bezier(.36,.07,.19,.97) both
      transform translate3d(0, 0, 0)
      backface-visibility hidden
      perspective 1000px
    textarea
      margin 1rem 0
    .button
      width 100%
      cursor pointer
    textarea
      max-height 12.5rem
      resize vertical
    input, textarea
      @media (min-width: ($MQNarrow + 1px))
        width calc(28.125rem - 2rem)
        max-width calc(28.125rem - 2rem)
      display block
      cursor text
      color #fff
      display inline-flex
      flex-direction row
      align-items center
      justify-content flex-start
      border none
      border-radius 0
      font-family Nunito
      font-weight 500
      font-size 0.875rem
      line-height 1.43
      letter-spacing 1.5px
      outline none
      padding 1rem
      background rgba(255, 255, 255, .15)
      &::placeholder
        color rgba(255, 255, 255, .6)
  .features
    display flex
    padding 12.5rem 0
    margin 0
    flex-direction column
    flex-wrap nowrap
    @media (min-width: ($MQMobile + 1px))
      flex-wrap wrap
      flex-direction row
    flex 1 1 100%
    --columnGap: 3.5rem;
    .feature
      margin-bottom 1rem
      margin-left 0
      margin-right 0
      @media (min-width: ($MQMobile + 1px))
        &:not(:first-child)
          margin-left var(--columnGap)
        &:not(:last-child)
          margin-right var(--columnGap)
      padding 0
      background $borderColor
      flex 1 1 calc(33% - 2 * var(--columnGap))
      width auto
      svg
        display block
        &:not(.line)
          margin 2rem 0 1.5rem
          padding 0
      h3
        margin 0
        margin-bottom 1.5rem !important
        padding 0
      p
        margin-top 2rem
        padding 0
        padding-right 2rem
        b
          font-weight 600
          color $primaryColor

  .container
    &.large
      padding 2rem 
      @media (min-width: ($MQMobile + 1px))
        padding 7.5rem 
    &.divided
      display flex
      flex 1 1 100%
      flex-direction column
      flex-wrap nowrap
      @media (min-width: ($MQMobile + 1px))
        flex-wrap wrap
        flex-direction row
      justify-content space-between
      &.centered
        align-items center
      .container-content-right
        *
          @media (min-width: ($MQNarrow + 1px))
            float right
      .container-content-left, .container-content-right
        flex 1 1 50%
        width 100%
        h2
          margin-top 0 !important
        p
          margin 3rem 0
          @media (min-width: ($MQMobile + 1px))
            padding-right 5rem
        svg
          text-align right
          @media (max-width: $MQMobile)
            display none
  
@keyframes shake
  10%, 90%
    transform translate3d(-1px, 0, 0)
  20%, 80%
    transform translate3d(2px, 0, 0)
  30%, 50%, 70%
    transform translate3d(-4px, 0, 0)
  40%, 60%
    transform translate3d(4px, 0, 0)
