// colors
$primaryColor = #477BF3
$secondaryColor = #1C215B
$accentColor = #4f56ff
$accentGreen = #81DFC9
$textColor = #313541
$borderColor = #EEF3FA
$lightBgColor = #F9FBFD
$lightColor = #c5c6d7
$codeBgColor = #282c34
$arrowBgColor = #ccc

// layout
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px

// responsive breakpoints
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

// code
$lineNumbersWrapperWidth = 3.5rem
$codeLang = js ts html md vue css sass scss less stylus go java c sh yaml py
